body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}
h1 {
    color: blue;
}

.ten-container {
    display: flex;            
    justify-content: space-between;  
    gap: 20px;                
    margin-top: 50px;
    max-width: 100%;          
    padding: 10px;
    /* overflow-x: hidden;       
    flex-wrap: nowrap;        */
}

.ten-card {
    background: linear-gradient(white,pink,yellow);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: justify;
    flex: 0;                  
    min-width: 300px;       
}

.ten-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.ten {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: cyan;
}
.tt {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: brown;
}